
body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 14px;
}

#erreurs{
    color: chocolate;
}

#grille{
    width: 450px;
    height: 450px;   
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

hr{
    width: 500px;
}
.carreau{
    width: 48px;
    height: 48px;
    border: 1px solid lightgray;    
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chiffres{
    width: 450px;
    height: 50px;
    background-color: greenyellow;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.nombre{
    width: 44px;
    height: 44px;
    border: 1px solid black;
    margin: 2px; 
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}

.choix_nbre{
    background-color: gray;

}

.tile-start{
    background-color: whitesmoke;
}
.horizontal{
    border-bottom: 1px solid black;
}

.vertical{
    border-right: 1px solid black;
}

source du menu: https://www.css3create.com/Menu-en-full-CSS-style-Lavalamp